<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="login()">
          <div class="row">
            <div class="col-md-12">
              <label>Usuario:</label>
              <input type="text" name="username" class="form-control" [(ngModel)]="usuario.username">
            </div>
            <div class="col-md-12">
              <label>Password:</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="usuario.password">
            </div>
            <div class=" mt-4 col-md-12 text-center">
              <button type="submit" class="btn btn-sm btn-dark">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
